.view-events .view-content .views-row .views-field-body .field-content, 
.view-news .view-content .views-row .views-field-body .field-content { 
	margin-bottom: 30px;
	margin-top: 4px;
}


div.followHomeTwitter1 {
	margin-top: 10px;
}