/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/


#page-wrap { width: 960px; padding: 0 0 0 5px; margin: 0 auto; overflow: hidden; height: 100%; }

.info-col { float: left; width: 132px; height: 100%; padding: 0px 0 0 0; }
.info-col h3 { color: #4E4B4B;
    font-weight: normal;
    line-height: 20px;
    padding: 0 0 20px;
    text-align: center; }
.curCol h3 { background: url(../images/h3_arrow_bg.png) no-repeat scroll center 45px transparent; }

.image { height: 100px; text-indent: -9999px; display: block; border-right: 1px solid white; }

.batman { background: url(../images/batman.jpg) center center no-repeat; }
.spiderman { background: url(../images/spiderman.jpg) center center no-repeat; }
.aquaman { background: url(../images/aquaman.jpg) center center no-repeat; }
.ironman { background: url(../images/ironman.jpg) center center no-repeat; }
.ironman2 { background: url(../images/ironman2.jpg) center center no-repeat; }
.superman { background: url(../images/superman.jpg) center center no-repeat; }

dt { padding: 5px; background: #900; color: white; border-bottom: 1px solid white; border-right: 1px solid white; }
dd { position: absolute; left: -9999px; top: -9999px; width: 299px; background: #900; padding: 10px; color: white; border-right: 1px solid white; margin: 0 !important; }

dt:nth-of-type(1) { background: #7ac514; color: #4e4b4b; }
dd:nth-of-type(1) { background: #7ac514; color: #4e4b4b; }

dt:nth-of-type(2) { background: #de0100; }
dd:nth-of-type(2) { background: #de0100; }

dt:nth-of-type(3) { background: #279bd8; }
dd:nth-of-type(3) { background: #279bd8; }

dt:nth-of-type(4) { background: #ffea3c; color: #4e4b4b; }
dd:nth-of-type(4) { background: #ffea3c; color: #4e4b4b; }

dt:nth-of-type(5) { background: #4e4b4b; }
dd:nth-of-type(5) { background: #4e4b4b; }

dt:nth-of-type(6) { background: #dddddd; color: #4e4b4b; }
dd:nth-of-type(6) { background: #dddddd; color: #4e4b4b; }

.curCol { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); z-index: 1; position: relative; }